# ===============================
# Python (project-wide)
# ===============================
__pycache__/
*.py[cod]
*.pyo

# ===============================
# Virtual environments
# ===============================
venv/
.venv/

# ===============================
# Packaging / build
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# IDE / editors
# ===============================
.idea/
.vscode/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
