# Sciezka do obrazu USB Mass Storage
CNC_USB_IMG=/var/lib/cnc-control/cnc_usb.img

# Punkt montowania obrazu (upload G-code)
CNC_MOUNT_POINT=/mnt/cnc_usb

# Katalog do uploadu plikow z WebUI
CNC_UPLOAD_DIR=/mnt/cnc_usb
